@import "reset.css";

body {
    display:flex;
    gap:20px;
    justify-content: space-between;
    align-items: flex-start;
    background-color:gainsboro;
    padding:20px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    width: 800px;
    height: 800px;
    background-color: white;
    border-radius: 10px;
}

.btns {
    display:flex;
    flex-direction: column;
    gap: 20px;
}

.color-options {
    display: flex;
    flex-direction: column;
    gap:15px
}

.color-option {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    border: 5px solid white;
    transition:transform ease-in-out .1s;
}

.stamp-options {
    display: flex;
    flex-direction: column;
    gap:15px
}
.stamp-option {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    border: 5px solid white;
    transition:transform ease-in-out .1s;
}

.stamp-current {
    width: 70px;
    height: 70px;
}

.color-option:hover,
.stamp-option:hover {
    transform: scale(1.5);
}

button,
label {
    all:unset;
    padding:10px 0px;
    text-align: center;
    background-color:royalblue;
    color:white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    transition: opacity linear .3s;
}

button:hover, 
label:hover {
    opacity : 0.85;
}

input#text {
    all:unset;
    padding: 10px 0px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 9px;
    text-align: center;
    background-color: white;
}

input#file {
    display:none;
}